
@{
    ViewBag.Title = "Giftcard";
}

<h2>Giftcard</h2>

@using(@Html.BeginForm("ProccessGiftcard", "Appointments", FormMethod.Post))
            {

            }

@* 

    email na recipient
    broj na recipient
    vrednost na gift card (tip na tretman/tretmani)
    payment

*@

