@model Pinkmeupkt.Models.Appointment
@{
    ViewBag.Title = "RedeemGift";
}

<h2>RedeemGift</h2>

<div class="container-fluid row">
    <div class="card">
        <div class="card-body">
            <p>
                Dear @ViewBag.Name,

                Thank you for choosing Pinkmeup for your upcoming appointment! We're excited to have you with us, and our team is ready to provide you with a wonderful experience. Get ready to indulge in some pampering and walk out feeling even more fabulous. If you have any questions or need to make any adjustments, please don't hesitate to reach out. We can't wait to see you and make your visit special.
                <br />
                <br />
                Warm regards,
                <br />
                The Pinkmeup Team
            </p>
        </div>
    </div>
</div>

