@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid p-3 row justify-content-evenly align-items-center">

    <div class="col-6">

    </div>


    <div class="col-6">

        <div class="form-group">
            <label class="form-label">Enter your email</label>
            <input class="form-control" type="email" />
        </div>


        <div class="form-group">
            <label class="form-label">Subject</label>
            <input class="form-control" type="text" />
        </div>


        <div class="form-group">
            <label class="form-label">Enter your message</label>
            <textarea class="form-control"></textarea>
        </div>

        <div class="p-3">
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>

    </div>
    
</div>